 <div class="brands">
          <h3>Brands</h3>
          <div class="logos"> <a href="#"><img src="{{ url_for('static', filename='css/images/logo1.gif' )}}" alt="" /></a>
            <a href="#"><img src="{{ url_for('static', filename='css/images/logo2.gif')}}" alt="" /></a>
            <a href="#"><img src="{{ url_for('static', filename='css/images/logo3.gif' )}}" alt="" /></a>
            <a href="#"><img src="{{ url_for('static', filename='css/images/logo4.gif' )}}" alt="" /></a>
            <a href="#"><img src="{{ url_for('static', filename='css/images/logo5.gif')}}" alt="" /></a> </div>
        </div>

   <div id="footer">
          <div class="left"> <a href="{{ url_for('home_page')}}">Home</a> <span>|</span> <a href="{{ url_for('terms')}}">Terms and Conditions</a> <span>|</span> <a href="{{ url_for('my_page')}}">My Account</a> <span>|</span> <a href="{{ url_for('market_page') }}">The Store</a> <span>|</span> <a href="{{ url_for('contact')}}">Contact</a><span>|</span> <a href="{{ url_for('about')}}">About</a></div>
          <div class="right"> &copy; Sitename.com. Design by <a href="http://chocotemplates.com">ChocoTemplates.com</a> </div>
        </div>
