{% extends 'index.html' %}
{% block title %}
Wing the Air
{% endblock title %}
{% block content %}
<section class="vh-100 text-center d-flex  justify-content-center bg-image pt-5 pb-5" style="background-image: url('https://cdn.avopix.com/photos/detail/d_94116_footwear-shoe-fink.jpeg '); background-size:cover;">

<div class="container">
    <div class="container  tab-content">

        <div class="items">
            <div class="d-flex justify-content-center align-items-center mt-3" style="flex-direction:column;"><span
                    style="color:#890000;"><h2>Owned items</h2> </span><br>
                <p>Click on sell item to put an item back on the Market</p></div>
            <div class="cl">&nbsp;</div>
            <div class="d-flex justify-content-between ">
            <div class="col-8">
                <div class="row">
{% for owned_item in owned_items %}
                     {% include 'components/owned_item_modal.html' %}
                    <div class="col-md-6" >
                        <div class="card text-center bg-dark">
                            <div class="card-body">
<h5 class="card-title">{{ owned_item.name }}</h5>
                                <button type="button" class="btn btn-outline-danger mb-3" data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">Sell this item</button>
                                <p class="card-text"> <strong>This item costs {{ owned_item.price }}$</strong></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
 <div class="col-8">
                <div class="row">

                    <div class="col-md-6" >
                        <div class="card text-center bg-dark">
                            <div class="card-body">
<h5 class="card-title">Card title </h5>
                                <button type="button" class="btn btn-outline-danger mb-3" data-toggle="modal" data-target="#Modal-SellingConfirm">Sell this item</button>
                                <p class="card-text"><strong>Additional Text</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>

        </div>
    </div>
</div>

</section>


{% endblock content %}