{% extends 'base.html' %}
{% block title %}
Wing the Air
{% endblock title %}

{% block content %}


<section class="vh-100 text-center d-flex align-items-center justify-content-center bg-image" style="background-image: url('https://cdn.wallpapersafari.com/14/9/rCbGHa.jpg'); background-size:cover; opacity:0.6;">
  <div class="container" style="position:absolute; top:100%;">
<div class="row">

    <p class="text-center">
 <h1 class="fw-bold"> Terms & Conditions</h1>
User Agreement on the terms of the provision of Services in the online store of LLC "TAGROUP"


<p style="color:black;">
            You hereby confirm that you have read, understood and fully agree to comply with this Agreement and the Privacy Policy of LLC "TAGROUP".

            You hereby confirm that from the moment of ordering on the site and during the time of using the Services of TAGROUP LLC, as well as the personalized services of the site, you are a User of TAGROUP LLC until your personal appeal to the TAGROUP LLC customer support service to refuse any relationship with TAGROUP LLC.

</p>

                  <h5 class="fw-bold">  Terms and concepts used in this Agreement</h5>

<p style="color:black;">LLC "TAGROUP" - Internet store LLC "TAGROUP", a legal entity registered in accordance with the established procedure with the company name LLC "TAGROUP" with the organizational and legal form of LLC (limited liability company) and legal address: g Samarkand, st. Navoiy, house 27, operating through the Internet resource www.shoptextile.uz and related services.

Site - a resource located on the Internet at www.shoptextile.uz and owned by TAGROUP LLC.

Product - Knitted goods, men's, women's and children's clothing as well as other products presented in the catalog of LLC "TAGROUP" on the Site.

Personal data - personal information (including last name, first name, patronymic, date of birth, address, contact phone number, e-mail address), voluntarily and deliberately provided by the User when placing an Order on the Site, and necessary for the implementation of the Agreement by TAGROUP LLC, according to to which the User is the beneficiary, as well as for the User's access to the personalized services of the Site.

Agreement - the relationship between TAGROUP LLC and the User for the purchase of the Goods under the terms of this Agreement, arising from the moment of confirmation of the Order by TAGROUP LLC.

User - any individual or legal entity (representative of a legal entity) who voluntarily placed an Order on the Site and received a unique authorization code to use the personalized services of the Site, as well as to make purchases from the TAGROUP LLC catalog on the Site.

Order - an application of the User for the purchase of the Goods from the catalog of TAGROUP LLC, executed through the electronic form on the Site (hereinafter the "Basket") by the User himself and / or by phone through an employee of the operator service of TAGROUP LLC.

Services - a set of activities of LLC "TAGROUP" in relation to the User in order to fulfill the terms of the Agreement.

Agreement  - this User Agreement governing the relationship between TAGROUP LLC and the User throughout the entire period of providing the Services and the User's access to the personalized services of the Site.

Privacy Policy  - the provisions of the User Agreement governing the obligations of TAGROUP LLC regarding the processing of the User's personal data.

</p>

  <h5 class="fw-bold" >PART I. On the relationship between TAGROUP LLC and the User</h5>

<p style="color:black;">

1. General provisions

1.1. LLC "TAGROUP" offers you its Services and the services of the Site on the terms set forth in this Agreement.

1.2. The use of the services of the Site, as well as all relations between you and TAGROUP LLC related to the use of the services of the Site, are governed by this Agreement.

1.3. By using any of the services of the Site or using any of its functionality, you express your unconditional acceptance of all the terms of this Agreement and all other conditions set forth on the pages of the Site, you agree to abide by them, and in case of disagreement with any of the conditions, immediately stop using the services and leave Site.

1.4. You are informed that this Agreement applies to all currently existing services of the Site, as well as to any of their development and / or the addition of new services.

1.5. You acknowledge and agree that nothing in the Agreement can be understood as the establishment between you and TAGROUP LLC of agency relations, partnership relations (joint activities), personal employment relations, or any other relations not expressly provided for in this Agreement.

1.6. This Agreement is governed by the civil legislation of the Republic of Uzbekistan, including the Law of the Republic of Uzbekistan "On Protection of Consumer Rights" dated April 26, 1996, No. 221-I, and by-laws.

1.7. You agree that all possible disputes regarding this Agreement and the relationship between you and TAGROUP LLC will be resolved in accordance with the norms of the Republic of Uzbekistan.

1.8. You agree that the court's recognition of any provision of the Agreement as invalid or unenforceable does not entail the invalidity or unenforceability of other provisions of the Agreement.

1.9. Inaction on the part of TAGROUP LLC in the event of your violation of the provisions of the Agreement does not deprive TAGROUP LLC of the right to take appropriate actions to protect its interests later, and does not mean TAGROUP LLC waiver of its rights in case of subsequent similar or similar violations ...

1.10. TAGROUP LLC reserves the right to change this Agreement without any special notice. The new version of the Agreement comes into force from the moment it is posted on this page, unless otherwise provided by the new version of the Agreement. The current version of the Agreement is always located on this page at https://shoptextile.uz/index.php/agreement.

1.11. You confirm your agreement with the provisions of this Agreement by clicking the "Accept User Agreement" button at the step of placing an Order on the Site.

1.12. TAGROUP LLC recommends that persons under the age of 16 refrain from accessing the personalized services of the Site. LLC "TAGROUP" does not intentionally collect information received from minors, including personal data of the latter, does not use and does not orient the content of the Site to minors. Responsibility for the actions of minors, including their purchase of Products from the TAGROUP LLC catalog on the Site, lies with the legal representatives of minors.


</p>
    <p style="color:black;">
2. Description of TAGROUP LLC Services

2.1. LLC "TAGROUP" sells the Goods through the web resource www.shoptextile.uz and related services of LLC "TAGROUP".

2.2. LLC "TAGROUP" delivers the Goods by the methods specified in Part 3 of this Agreement.

2.3. LLC "TAGROUP" provides access to personalized services of the Site to obtain the most complete information on the Product you are interested in, create ratings and opinions, participate in competitive programs and other promotions held by LLC "TAGROUP" for the personalized environment of the Site.

</p>
<p style="color:black;" >
3. Obligations of the User when using the services of the Site

3.1. You agree not to use the services of the Site for the purpose of:

3.1.1. uploading content that is illegal violates any rights of third parties; promotes violence, cruelty, hatred and / or discrimination on racial, ethnic, gender, religious, social grounds; contains inaccurate information and / or insults to specific individuals, organizations, authorities;

3.1.2. inducement to commit illegal actions, as well as assistance to persons whose actions are aimed at violating the restrictions and prohibitions in force in the territory of the Republic of Uzbekistan;

3.1.3. violation of the rights of minors and / or causing harm to them in any form;

3.1.4. infringement of the rights of minorities;

3.1.5. impersonating another person or representative of an organization and / or community without sufficient rights, including employees of TAGROUP LLC;

3.1.6. misleading about the properties and characteristics of any Goods from the TAGROUP LLC catalog on the Site; incorrect comparison of the Products, as well as the formation of a negative attitude towards persons (not) using certain Products, or condemnation of such persons;

3.1.7. uploading content that you do not have the right to make available under the laws of the Republic of Uzbekistan or under any contractual relationship;

3.1.8. uploading content that affects and / or contains any patent, trademark, trade secret, trade name, copyright and related rights, as well as other rights to the results of intellectual activity owned or legally used by third parties;

3.1.9. uploading advertising information and / or spam not permitted in a special way;

3.1.10. collection and processing of personal data, information about the private life of any person;

3.1.11. disruption of the normal operation of the Site of LLC "TAGROUP";

3.1.12. violation of the norms of the rights of the Republic of Uzbekistan or international norms of law.

3.2. You agree not to use swear words, obscene and offensive images, comparisons and expressions on the services of the Site, including in relation to gender, race, nationality, profession, social category, age, language of a person and citizen, as well as in relation to organizations, authorities , official state symbols (flags, emblems, hymns), religious symbols, cultural heritage objects (historical and cultural monuments).

3.3. You acknowledge and agree that TAGROUP LLC has the right (but not the obligation), at its sole discretion, to refuse to post and / or remove any content available through the personalized services of the Site.

</p>
<p style="color:black;">
4. Ownership of TAGROUP LLC

4.1. You acknowledge and agree that the services of the Site and all programs associated with them contain confidential information belonging to TAGROUP LLC, which is protected by the laws of the Republic of Uzbekistan, as well as international law.

4.2. You agree that the content provided to you in the process of using the personalized services of the Site belongs to TAGROUP LLC, is protected by copyright, trademarks, patents of the latter, as well as by the relevant laws in force in the territory of the Republic of Uzbekistan.

4.3. LLC "TAGROUP" grants you a non-transferable right to use all the personalized services of the Site, provided that neither you, nor any other persons, with the assistance of you, will reproduce, copy or process (modify) them, as well as use any of them. parts for personal or commercial use.

</p>
<p style="color:black;">
5. Privacy Policy of TAGROUP LLC

5.1. The privacy policy applies to personal data that TAGROUP LLC received or may receive from you when placing an Order on the Site, and necessary to fulfill obligations on the part of TAGROUP LLC in relation to the Product you purchase and / or your access to the personalized services of the Site ...

5.2. You hereby agree that your use of the personalized Services of the Site means your unconditional acceptance of the Privacy Policy and the conditions for processing your personal data specified therein. If you disagree with any term of the Privacy Policy, you must immediately stop using the services and leave the Site.

5.4. You acknowledge that your consent to the processing of personal data given by you to TAGROUP LLC applies to all affiliates of TAGROUP LLC.

5.5. Personal data of the User collected and processed by TAGROUP LLC:

5.5.1. Obligatory personal data that you voluntarily and knowingly provide about yourself when placing an Order on the Site, necessary primarily to fulfill obligations on the part of TAGROUP LLC in relation to the Product you are purchasing, such as:

User's full name;

User's contact phone number;

Contact E-mail of the User;

Address for the delivery of the Goods.

5.5.2. Anonymized data automatically obtained by TAGROUP LLC while you are on any page of the Site, using the software installed on your device: IP address, information from a cookie, information about your browser (or other program that is used to access to the services of the Site), access time, the address of the requested page.

5.6. LLC "TAGROUP" does not verify the accuracy of the personal data provided by you and does not control their relevance. However, TAGROUP LLC assumes that you provide reliable and sufficient personal data on the issues proposed in the order form and keep this information up to date. You personally bear full responsibility for the consequences of providing inaccurate or invalid personal data.

5.7. LLC "TAGROUP" collects and processes only those personal data that are necessary for you to use the personalized services of the Site and / or purchase the Goods from the catalog of LLC "TAGROUP" on the Site, namely for:

5.7.1. acceptance, processing and delivery of your Order;

5.7.2. processing and receiving payments from you;

5.7.3. informing you about the status of your Order by means of electronic and SMS notifications;

5.7.4. improving the quality of work of LLC "TAGROUP" and related services;

5.7.5. providing you with effective customer support;

5.7.6. providing you with personalized services of the Site;

5.7.7. sending information related to your use of the personalized services of the Site;

5.7.8. improving the operation of the services of the Site, the convenience of their use, as well as for the development of new ones, by receiving your feedback on the existing services of the Site;

5.7.9. informing you about the events and promotions held by TAGROUP LLC;

5.7.10. conducting statistical and other studies based on anonymized data.

5.8. Your personal data is kept confidential.

5.9. You confirm your full voluntary consent to the processing of your personal data by TAGROUP LLC in accordance with the terms of the Privacy Policy by clicking the "Accept User Agreement" button when placing an Order on the Site.

5.10. Your consent to the processing of personal data is valid during the time you use the Services of TAGROUP LLC.

5.11 All questions regarding the processing of personal data, you can send to the Customer Support Service of "TAGROUP" LLC at info@shoptextile.uz

</p>

 <h5 class="fw-bold">PART 2. On the sale of Goods</h5>

 <p style="color:black;">1. General provisions

1.1. To make a purchase from the TAGROUP LLC catalog on the Website, you need to fill out an order form and provide valid and sufficient data necessary for TAGROUP LLC to fulfill its obligations to sell and deliver the Goods to you.

1.2. You agree that in case of changes in any of the data provided by you necessary for the proper fulfillment of TAGROUP LLC obligations for the sale and delivery of the Goods, you undertake to immediately notify TAGROUP LLC about this by sending an appropriate letter to the Customer Support Service of LLC "TAGROUP" at info@shoptextile.uz.

1.3. You agree that in case of non-fulfillment and / or improper fulfillment of TAGROUP LLC obligations to sell and / or deliver the Goods to you in connection with your provision of inaccurate and / or invalid data about yourself, as well as your failure to comply with the terms of this Agreement, TAGROUP LLC »Is not responsible.

1.4. You acknowledge that the description accompanying the Product on the Site does not claim to be exhaustive and may contain inaccuracies. You have the right to send all comments on an inaccurate description of the Goods to the Customer Support Service of TAGROUP LLC at info@shoptextile.uz.

1.5. You acknowledge that TAGROUP LLC makes sufficient efforts to ensure that the appearance, packaging and characteristics of the Products correspond to the descriptions given in the TAGROUP LLC catalog on the Website. At the same time, LLC "TAGROUP" informs you that the actual appearance, packaging and characteristics of the Goods may differ from these descriptions in the case of assortment goods, as well as in case of changes to the Goods directly by the manufacturer.

1.6. The goods presented in the TAGROUP LLC catalog on the Website have all the necessary certificates and fully comply with the requirements of the legislation of the Republic of Uzbekistan, which you can familiarize yourself with by contacting the TAGROUP LLC customer support service at info@shoptextile.uz.

1.7. You are informed that the price and availability of the Goods at TAGROUP LLC changes on the Site around the clock without prior notice and are indicated in the individual status and detailed Product card displayed in the TAGROUP LLC catalog on the Website.

1.8. You are informed that the Goods and their required quantity are reserved for you only after your order has been processed by the picking service of TAGROUP LLC. You also agree that if you edit the composition of the Order before it is processed by an employee of the operator service of TAGROUP LLC, the prices of the Goods, as well as the availability of the Goods in TAGROUP LLC, may change, as defined in clause 1.7 of the Agreement. Editing in this case means the addition / removal of the Goods by you in the Order in your Personal Space.

1.9. You are informed that changes in the composition of the Order before it is processed by an employee of the operator service of LLC "TAGROUP", are coordinated with you by phone. You agree that if it is impossible to contact you within 7 calendar days, counting the date of placing the Order, for its approval, this Order will be canceled.


1.10. LLC "TAGROUP" accepts payment for the Goods in Uzbek soums in accordance with the current legislation of the Republic of Uzbekistan. When choosing a non-cash form of payment, currency conversion occurs automatically.

1.11. All questions related to the purchase of Goods from the catalog of TAGROUP LLC on the Site, you can send to the Customer Support Service of TAGROUP LLC at info@shoptextile.uz.
</p>
    <p style="color:black;">
2. Conditions for the purchase of the Goods by individuals

2.1. You can purchase the Goods at TAGROUP LLC by paying for it in the following ways: cash, credit card, electronic money, bank transfer on receipt or contract.

Payment for the Goods in cash - Payment for the Goods in cash is provided to you when choosing the services of the delivery service of TAGROUP LLC (courier delivery or delivery to the pickup point of TAGROUP LLC). Cash payment is made to the courier (in the case of courier delivery of the Goods) or to the administrator of the pickup point of TAGROUP LLC (in the case of delivery to the pickup point of TAGROUP LLC) upon receipt of the Goods.

Payment for the Goods by credit card - LLC "TAGROUP" accepts payments for the Goods by the following credit cards: UZ-CARD, HUMO.

Payment for the Goods with electronic money - LLC "TAGROUP" provides you with the opportunity to pay for the Goods with electronic money through the payment systems Click and Payme. For more information about these payment systems you can find on the site Http://Click.Uz and Https://Payme.Uz/
</p>
    <p style="color:black;">
3. Terms of the acquisition of the goods by legal entities

3.1. The purchase of the Goods by legal entities is carried out by concluding a separate agreement or by placing an Order on the Site through your representative.

3.2. If a separate agreement is not drawn up, you can pay for the Goods at TAGROUP LLC directly from your current account or by the methods specified in clause 2.1 of the Agreement.

3.3. You are hereby informed that when paying for the Goods from your current account, you need to do the following:

Provide details by e-mail info@shoptextile.uz;

Make payment within 3 calendar days from the date of invoicing by LLC "TAGROUP";

Provide a power of attorney for a representative with the right to receive the Goods and with the right to sign on the consignment notes.

3.4. When paying for the Goods from the current account, you agree that:

The date of payment for the Goods is the date of receipt of funds to the settlement account of TAGROUP LLC;

Shipment and delivery of the Goods is carried out only after the funds are credited to the settlement account of TAGROUP LLC in accordance with the delivery method you have chosen.

3.5. You can ask all questions about relations with legal entities to the Customer Support Service of "TAGROUP" LLC at info@shoptextile.uz
</p>
<h5 class="fw-bold">PART 3. About the delivery of the Goods</h5>

<p style="color:black;">1. General provisions

1.1. LLC "TAGROUP" delivers the Goods in the following ways: delivery service LLC "TAGROUP" (courier delivery or delivery to the pickup point). You have the right to choose any method of delivery convenient for you in accordance with the terms of delivery to your region or based on your preferences.

1.2. You agree that if it is impossible to transfer the Goods to you through your fault, including your violation of the period during which you are obliged to pick up the Goods, TAGROUP LLC will be regarded as your refusal from the Goods. In this case, the Goods are returned to TAGROUP LLC, and the Order is considered canceled.

1.3. 1.3. In the event of your refusal from the Goods, the prepayment paid by TAGROUP LLC for the Goods, excluding bank charges and delivery costs of the goods, will be returned to you no later than 10 working days from the date of your submission of the relevant request, indicating the method of returning the funds to the Service customer support at info@shoptextile.uz

1.4. All questions related to the terms and conditions of delivery of the Goods, you can send to the Customer Support Service of "TAGROUP" LLC at info@shoptextile.uz.

</p>
<p style="color:black;">
2. Terms and conditions of delivery of the Goods by the delivery service of LLC "TAGROUP"

2.1. The delivery time of the Goods by the TAGROUP LLC delivery service indicated in the order form are indicative and may slightly differ in both directions.

2.2. In case of your choice of delivery to the pickup point of TAGROUP LLC, you are obliged to pick up the Goods from the TAGROUP LLC pickup point within 7 calendar days from the date of its receipt at the pickup point of which you will be duly notified. You have the right to extend the storage period of the Goods at the pickup point for another 7 calendar days by contacting the Customer Service.

2.3. Upon receipt of the Order, you are obliged to check the assortment, quantity, quality and cost of all the Goods included in the Order. You hereby agree that by accepting the order, you (or your representative) confirm the proper execution by TAGROUP LLC of the Agreement in relation to the completion of your order and have no claims for its delivery.

</p>

    <h5 class="fw-bold">PART 4. About the return and exchange of the Goods</h5>

<p style="color:black;">1. General provisions

1.1. The return or exchange of the Goods, as well as the refund of funds, is carried out at the pickup point at the place of receipt of the Goods, in accordance with the procedure and terms specified in this section of the Agreement.

1.2. You are hereby informed that the return or exchange of the Goods in regions providing only courier delivery is made by the courier service of TAGROUP LLC.

1.3. To return or exchange the Goods, you need to send an appropriate appeal to the Customer Support Service of TAGROUP LLC at info@shoptextile.uz The application is considered by TAGROUP LLC within 7 calendar days from the date of its receipt.

1.4. Refunds in cash are carried out at the pickup point at the place of receipt of the Goods upon presentation of the passport and the returned Goods.

1.5. You agree that in case of partial refusal from the Product, if it is part of the set, the return or exchange of the Goods is carried out only in full.

1.6. You agree that the difference between the actual design elements, including but not limited to the color, shape or design of the Product, from those stated in the description on the Site does not affect its quality and does not constitute a violation of the terms of the Agreement. You also do not have the right to refuse the Goods of good quality, having individually defined properties, if such Goods can be used exclusively by you.

1.7. You are hereby informed that TAGROUP LLC considers claims related to the inadequate quality of knitted products only in cases where such products contain a hidden defect.

A hidden manufacturing defect is the lack of necessary elements, as well as the presence of unnecessary unnecessary components that can cause harm, inconvenience or difficulty when using knitted products.

1.10. You are informed and agree that TAGROUP LLC does not consider and does not accept claims related to the Goods that have traces of use, including, but not limited to, damage to the external or internal appearance, torn or cut parts, deformation or burnt, in the case when the specified in this paragraph, the damage was revealed after the transfer of the Goods to you.

1.11. You can ask all questions about the return or exchange of the Goods to the Customer Support Service at info@shoptextile.uz.
</p>

<p style="color:black;">
2. Return of good quality goods

2.1. You have the right to return the Product of proper quality within 7 calendar days, not counting the day when the Product was handed over to you, if its presentation, consumer properties, as well as documents confirming the fact and conditions of purchase of this Product on the Shoptextile.uz Site are preserved.

2.2. Refunds for the Goods of good quality, with the exception of the costs of TAGROUP LLC for delivery and banking of the Goods, will be made no later than 10 calendar days from the date of your contact with the Customer Support Service at info@shoptextile.uz.


</p>
    <p style="color:black;">
3. Return or exchange of goods of inadequate quality

3.1. You have the right to return or exchange the Product of inadequate quality for a similar one no later than 20 calendar days from the date you receive the Product.

3.2. Refunds for goods of inadequate quality will be made no later than 10 calendar days from the date of your contact with the Customer Support Service at info@shoptextile.uz.

3.3. You can exchange goods of inadequate quality for a similar one. In the absence of a similar Product, the refund of the money paid for the Product of inadequate quality is carried out no later than 10 days from the date of your contact with the Customer Support Service at shoptextileuz @ mail.ru.

</p>

    <h5 class="fw-bold">PART 5. On confirmation of the Agreement</h5>

<p style="color:black;">1.1. You have the right to refuse to confirm this Agreement if any of its terms is unacceptable for you.

1.2. You confirm that your acceptance of the Agreement (the button "Accept the User Agreement") means your full agreement with all its terms without exception, as well as with all the terms of the Help, Delivery sections.

1.3. You acknowledge and agree that your contact with the operator service of TAGROUP LLC to place an Order, as well as your registration as a User on the Site, is a confirmation of your voluntary agreement with all the provisions of this Agreement.

</p>

    <h6>Date of last change 11/16/2019</h6>



</div>
  </div>
</section>

{% endblock content %}